<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon style="margin-left:2% ;" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Covid-19 Data</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card> -->
  <ion-card >
    <ion-card-header>
      Types of Cases in {{showedState}}, between {{featuredStartDate}} until {{featuredEndDate}}
    </ion-card-header>
    <ion-card-content >
      <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-spinner style="margin: 45%;" *ngIf="newsLoading" name="crescent"> </ion-spinner>
    
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Total Number of Cases
      </ion-col>
      <ion-col>
        {{featuredTotal}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Number of New Cases
      </ion-col>
      <ion-col>
        {{featuredTotalNew}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Import Cases
      </ion-col>
      <ion-col>
        {{featuredTotalImport}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Recovered Cases
      </ion-col>
      <ion-col>
        {{featuredTotalRecovered}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Active Cases
      </ion-col>
      <ion-col>
        {{featuredTotalActive}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Cluster Cases
      </ion-col>
      <ion-col>
        {{featuredTotalCluster}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Unvaccinated
      </ion-col>
      <ion-col>
        {{featuredTotalUnvax}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Partially Vaccinated
      </ion-col>
      <ion-col>
        {{featuredTotalPVax}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Fully Vaccinated
      </ion-col>
      <ion-col>
        {{featuredTotalFVax}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Boosted
      </ion-col>
      <ion-col>
        {{featuredTotalBoost}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Child
      </ion-col>
      <ion-col>
        {{featuredTotalChild}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Adolescent
      </ion-col>
      <ion-col>
        {{featuredTotalAdolescent}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Adult
      </ion-col>
      <ion-col>
        {{featuredTotalAdult}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Elderly
      </ion-col>
      <ion-col>
        {{featuredTotalElderly}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 0-4
      </ion-col>
      <ion-col>
        {{featuredTotal0_4}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 5-11
      </ion-col>
      <ion-col>
        {{featuredTotal5_11}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 12-17
      </ion-col>
      <ion-col>
        {{featuredTotal12_17}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 18-29
      </ion-col>
      <ion-col>
        {{featuredTotal18_29}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 30-39
      </ion-col>
      <ion-col>
        {{featuredTotal30_39}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 40-49
      </ion-col>
      <ion-col>
        {{featuredTotal40_49}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 50-59
      </ion-col>
      <ion-col>
        {{featuredTotal50_59}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 60-69
      </ion-col>
      <ion-col>
        {{featuredTotal60_69}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 70-79
      </ion-col>
      <ion-col>
        {{featuredTotal70_79}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 80 and above
      </ion-col>
      <ion-col>
        {{featuredTotal80}}
        <br>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
