<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Date
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>State</ion-label>
    <ion-select (ionChange)="selectState(value);" [(ngModel)]="value" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
      <ion-select-option value="">Entire Malaysia</ion-select-option>
      <ion-select-option value="johor">Johor</ion-select-option>
      <ion-select-option value="kedah">Kedah</ion-select-option>
      <ion-select-option value="kelantan">Kelantan</ion-select-option>
      <ion-select-option value="melaka">Malacca</ion-select-option>
      <ion-select-option value="negeri_Sembilan">Negeri Sembilan</ion-select-option>
      <ion-select-option value="pahang">Pahang</ion-select-option>
      <ion-select-option value="penang">Penang</ion-select-option>
      <ion-select-option value="perak">Perak</ion-select-option>
      <ion-select-option value="perlis">Perlis</ion-select-option>
      <ion-select-option value="selangor">Selangor</ion-select-option>
      <ion-select-option value="terengganu">Terengganu</ion-select-option>
      <ion-select-option value="w.p._kuala_lumpur">Kualu Lumpur</ion-select-option>
      <ion-select-option value="w.p_labuan">Labuan</ion-select-option>
      <ion-select-option value="w.p_putrajaya">Putrajaya</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item>
    
      <ion-label>Start Date</ion-label>
    <ion-button fill="clear" id="open-date-input">
      <ion-icon icon="calendar"></ion-icon>
    </ion-button>
    <div *ngIf="startDate!=0">{{featuredStartDate}}</div>
    <ion-popover trigger="open-date-input" show-backdrop="false">
      <ng-template>
        <ion-datetime
        showClearButton confirm min="2020-01-25" max="2021-12-15" #startDate (ionChange)="selectStartDate(startDate.value)"  size="cover"   presentation="date"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>


  <ion-item><ion-label>End Date</ion-label>
    <ion-button fill="clear" id="open-date-input-2">
      <ion-icon icon="calendar"></ion-icon>
    </ion-button>
    <div *ngIf="endDate!=0">{{featuredEndDate}}</div>
    <ion-popover trigger="open-date-input-2" show-backdrop="false">
      <ng-template>
        <ion-datetime
        showClearButton showDefaultTimeLabel min="2020-01-25" max="2021-12-15"  #endDate size="cover" (ionChange)="selectEndDate(endDate.value)" name presentation="date"
        ></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>
  <!-- <ion-button id="open-modal">Open Datetime Modal</ion-button>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime ></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal> -->
  
<!-- <ion-slides>
  <ion-slide>
    <ion-card>
      <ion-card-title style="margin: 2%;"> From</ion-card-title>
      <ion-datetime min="2020-01-25" max="2021-12-15" #startDate (ionChange)="selectStartDate(startDate.value)"  size="cover"   presentation="date">
    </ion-datetime>
  </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-title style="margin: 2%;"> Until </ion-card-title>
    <ion-datetime min="2020-01-25" max="2021-12-15" size="cover" #endDate (ionChange)="selectEndDate(endDate.value)" name presentation="date">
    
    </ion-datetime>
  </ion-card>
  </ion-slide>
  </ion-slides> -->


  <!-- <span style="display: flex; align-items: center; justify-content: center; margin: 5% 5% 5% 5%;">
    Swipe Calander to choose your two dates!
  </span> -->
  <ion-button (click)="pressSearchButton()" shape="round"  style="display: flex; justify-content: center; margin: 20px 40%;">
    <ion-icon icon="search"></ion-icon> Search
  </ion-button>
  <ion-card (click)="chartsMoreDetail('')" *ngIf="selectOptionState">
    <!-- <ion-spinner style="margin: 45%;" *ngIf="dataLoading" name="crescent"> </ion-spinner> -->
    <ion-card-subtitle style="margin: 10px; font-size: 90%; display: flex; justify-content: end;"> details > </ion-card-subtitle>
    <ion-card-title style="margin: 0 0 5% 2%; font-size: 75%;"> From {{featuredStartDate}} to {{featuredEndDate}}, in {{featuredState}} there is reportedly </ion-card-title>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Total Number of Cases
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalNew}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Number of New Cases
      </ion-col >
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalNew}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Import Cases
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalImport}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Recovered Cases
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalRecovered}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Active Cases
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalActive}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Cluster Cases
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalCluster}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Unvaccinated
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalUnvax}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Partially Vaccinated
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalPVax}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Fully Vaccinated
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalFVax}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Boosted
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalBoost}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Child
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalChild}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Adolescent
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalAdolescent}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Adult
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalAdult}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Elderly
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotalElderly}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 0-4
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal0_4}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 5-11
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal5_11}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 12-17
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal12_17}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 18-29
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal18_29}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 30-39
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;"> 
        {{featuredTotal30_39}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 40-49
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal40_49}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 50-59
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal50_59}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 60-69
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal60_69}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 70-79
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal70_79}}
        <br>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 2%;">
      <ion-col>
        Ages 80 and above
      </ion-col>
      <ion-col style="justify-content: flex-end; display: flex;">
        {{featuredTotal80}}
        <br>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card *ngIf="selectOptionState">
    <!-- <ion-spinner style="margin: 45%;" *ngIf="dataLoading" name="crescent"> </ion-spinner> -->
    <div style="display: flex; justify-content: space-between;">
    <ion-card-header style="display: flex; ">States</ion-card-header>
    <ion-card-header *ngIf="selectOptionState"  (click)="sortByCases()" style="display: flex; justify-content: end;">Sort By Cases</ion-card-header>
    </div>
    <ion-row style="margin-left: 2%; display: flex;"  *ngFor="let state of states">
      <ion-col (click)="chartsMoreDetail(state.id)">
        {{state.id}}
      </ion-col>
      <ion-col style="display: flex; justify-content: end; padding: 10px 10px;">
        {{state.cases}}
        <br>
      </ion-col>
    </ion-row>


    <!-- <ion-accordion-group >
      <ion-accordion >
        <ion-item slot="header">
          <ion-label>States</ion-label>
        </ion-item>
        
      <ion-item>
        <ion-list  slot="content">
          <ion-item *ngFor='let state of states.states'> 
            <ion-label>{{state.id}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>{{state.cases}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
      </ion-accordion>
    </ion-accordion-group> -->
  </ion-card>
  
  <!-- <div *ngFor='let state of states.states'>
    <ion-card>
      <ion-item >
        {{state.id}}
      </ion-item>
    </ion-card>
  </div> -->
  
</ion-content>
